@import "tailwindcss";
@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/500.css";
@import "@fontsource/ibm-plex-sans/600.css";
@import "@fontsource/ibm-plex-sans/700.css";
@import "@fontsource/bricolage-grotesque/600.css";
@import "@fontsource/bricolage-grotesque/700.css";
@import "@fontsource/bricolage-grotesque/800.css";

@theme inline {
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-display: "Bricolage Grotesque", sans-serif;

  --color-white: #ffffff;
  --color-line: #e5e5e5;
  --color-off-white-bg: #f5f5f7;
  --color-navbar: #f4f1ea;
  --color-real-time: #e3262e;
  --color-black-lance: #000000;

  --color-green: #007a18;
  --color-green-hover: #006e0c;
  --color-green-active: #0c8624;
  --color-green-disabled: #568760;
  --color-green-header: #00b925;
  --color-green-cover: rgba(0, 122, 24, 0.161);
  --color-green-cover-bg: rgba(0, 122, 24, 0.02);
  --color-green-cover-btn: rgba(0, 122, 24, 0.04);

  --color-table-gray: #676767;
  --color-table-text: #424242;
  --color-table-white: #fbfbfb;
  --color-table-bg: #ffffff;
  --color-table-bg-gray: #f7f7f7;

  --color-gray-100: #d9d9d9;
  --color-gray-200: #f5f5f5;
  --color-gray-300: #757575;
  --color-gray-400: #464646;
  --color-gray-500: #464646;
  --color-gray-600: #525252;

  --color-red: #a71111;
  --color-red-widget: #ff371a;

  --color-green-900: #1d411e;

  --color-blue-courses: #06378d;

  --shadow-sm: 0px 2px 4px rgba(38, 54, 153, 0.06);
  --shadow-normal: 0px 4px 8px rgba(38, 54, 153, 0.06);
  --shadow-md: 0px 8px 16px rgba(38, 54, 153, 0.04);
  --shadow-lg: 0px 16px 32px rgba(38, 54, 153, 0.04);
  --shadow-card: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
  --shadow-cover: 0px 20px 48px 0px rgba(18, 17, 39, 0.08);
  --shadow-sticky: 0px 0px 10px rgba(0, 0, 0, 0.25);

  --radius-sm: 4px;
  --radius-normal: 8px;
  --radius-lg: 16px;
}

body {
  background: var(--color-off-white-bg);
  color: var(--color-gray-400);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
